<!DOCTYPE html>
<html lang="en">

<head>
    <title>Perfect Printable Bricks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link type="text/css" rel="stylesheet" href="style.css">
</head>

<body v-scope @mounted="mounted" class="d-flex flex-column h-100">
    <main class="flex-shrink-1">
        <div class="container mt-3">
            <div class="row">
                <h1 class="display-1 text-center pb-1">Perfect Printable Bricks</h1>
            </div>
            <div class="row">
                <div class="card p-3 my-1">
                    <p class="m-0">
                        Use the <a
                            href="https://www.prusaprinters.org/prints/98071-perfect-printable-bricks-calibration"
                            target="_blank" class="link-primary" rel="noopener noreferrer">Calibration Model</a> to help
                        calibrate the modifiers. Prints good at 0.2mm layer height or lower. Using a <em>raft</em> is recommended
                        unless your printer is literally perfect.</p>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-12 col-lg-5 p-0">
                    <div class="card h-100">
                        <div class="card-body px-0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="f5 fw5">
                                            Brick Settings
                                        </h5>
                                        <div v-scope="selectInput({
                                        name: 'Type',
                                        label: 'Type',
                                        description: 'Select the type of brick you want to print',
                                        options: [
                                                    {label:'Regular', value:'regular'}, 
                                                    {label:'Technic', value:'technic'},
                                                    {label:'Arm', value:'arm'},
                                                    {label:'Plate', value:'plate'}
                                                ],
                                        value: 'regular'})">
                                        </div>
                                        <div :style="{display: vals.Type!='arm' ? 'block' : 'none'}" v-scope="selectInput({
                                        name: 'TopType',
                                        label: 'Top Type',
                                        description: 'Select the type of top',
                                        options: [
                                                    {label:'Studs', value:'studs'}, 
                                                    {label:'Technic Studs', value:'techStuds'},
                                                    {label:'Tile', value:'tile'},
                                                ],
                                        value: 'studs'})">
                                        </div>
                                        <div :style="{display: (vals.Type=='plate'||vals.Type=='regular') ? 'block' : 'none'}"
                                            v-scope="sliderInput({
                                        name: 'Width',
                                        label: 'Width',
                                        description: 'Select the width of the brick measured in studs',
                                        min: 1,
                                        max: 50,
                                        value: 2,
                                        step: 1})">
                                        </div>
                                        <div :style="{display: vals.Type=='plate'||vals.Type=='regular' ? 'block' : 'none'}"
                                            v-scope="sliderInput({
                                        name: 'Depth',
                                        label: 'Depth',
                                        description: 'Select the depth of the brick measured in studs',
                                        min: 1,
                                        max: 50,
                                        value: 4,
                                        step: 1})">
                                        </div>
                                        <div :style="{display: vals.Type=='regular' ? 'block' : 'none'}" v-scope="sliderInput({
                                        name: 'Height',
                                        label: 'Height',
                                        description: 'Select the height of the brick in mm. 9.6 is full height, 3.2 is standard thin.',
                                        min: 3.2,
                                        max: 38.4,
                                        value: 9.6,
                                        step: 3.2})">
                                        </div>
                                        <div :style="{display: vals.Type=='technic' ? 'block' : 'none'}" v-scope="selectInput({
                                        name: 'TechHoleAlign',
                                        label: 'Tech Hole Alignment',
                                        description: 'Select the alignment of the tech holes. Either aligned with studs or between them.',
                                        options: [
                                                    {label:'Aligned', value:'aligned'}, 
                                                    {label:'Offset', value:'offset'},
                                                ],
                                        value: 'aligned'})">
                                        </div>
                                        <div :style="{display: vals.Type=='technic' ? 'block' : 'none'}" v-scope="sliderInput({
                                        name: 'TechLength',
                                        label: 'Length',
                                        description: 'Select the length of the technic brick in studs.',
                                        min: 1,
                                        max: 50,
                                        value: 8,
                                        step: 1})">
                                        </div>
                                        <div :style="{display: vals.Type=='arm' ? 'block' : 'none'}" v-scope="sliderInput({
                                        name: 'ArmLengthX',
                                        label: 'Length',
                                        description: 'Select the length of the arm in holes.',
                                        min: 1,
                                        max: 50,
                                        value: 3,
                                        step: 1})">
                                        </div>
                                        <div :style="{display: vals.Type=='arm' ? 'block' : 'none'}" v-scope="selectInput({
                                        name: 'ArmDepth',
                                        label: 'Arm Depth',
                                        description: 'Select the type of top',
                                        options: [
                                                    {label:'Full', value:'full'}, 
                                                    {label:'Half', value:'half'},
                                                ],
                                        value: 'full'})">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="f5 fw5">
                                            Modifiers
                                        </h5>
                                        <div :class="((vals.Type!='arm')&&(vals.TopType=='studs' || vals.TopType=='techStuds')) ? 'opacity-100' : 'opacity-25'"
                                            v-scope="sliderInput({
                                        name: 'studOuterRadiusOffset',
                                        label: 'Stud Outer Offset',
                                        description: 'Offset for the outer radius of studs.',
                                        min: -0.2,
                                        max: 0.2,
                                        value: 0,
                                        step: 0.02})">
                                        </div>
                                        <div :class="(vals.Type!='arm' && vals.TopType=='techStuds') ? 'opacity-100' : 'opacity-25'"
                                            v-scope="sliderInput({
                                        name: 'studInnerRadiusOffset',
                                        label: 'Stud Inner Offset',
                                        description: 'Offset for the inner radius of technic studs.',
                                        min: -0.2,
                                        max: 0.2,
                                        value: 0,
                                        step: 0.02})">
                                        </div>
                                        <div :class="(vals.Type!='arm' && vals.TopType!='tile') ? 'opacity-100' : 'opacity-25'"
                                            v-scope="selectInput({
                                        name: 'studHeight',
                                        label: 'Stud Height',
                                        description: 'These are known values and should work',
                                        options: [
                                                    {label:'1.6', value:1.6}, 
                                                    {label:'1.7', value:1.7}, 
                                                    {label:'1.8', value:1.8},
                                                ],
                                        value: 1.7})">
                                        </div>
                                        <div :class="vals.Type=='regular' ? 'opacity-100' : 'opacity-25'" v-scope="sliderInput({
                                        name: 'tubeOuterRadiusOffset',
                                        label: 'Tube Outer Offset.',
                                        description: 'Tubes are the cylinders under a brick. A positive value here will make the fit tighter.',
                                        min: -0.2,
                                        max: 0.2,
                                        value: 0,
                                        step: 0.02})">
                                        </div>
                                        <div :class="vals.Type=='regular' ? 'opacity-100' : 'opacity-25'" v-scope="sliderInput({
                                        name: 'tubeInnerRadiusOffset',
                                        label: 'Tube Inner Offset',
                                        description: 'Tubes are the cylinders under a brick. A positive value here makes inside looser.',
                                        min: -0.2,
                                        max: 0.2,
                                        value: 0,
                                        step: 0.02})">
                                        </div>
                                        <div :class="(vals.Type=='regular' || vals.Type=='technic')? 'opacity-100' : 'opacity-25'"
                                            v-scope="sliderInput({
                                        name: 'wallThicknessOffset',
                                        label: 'Wall Thickness Offset',
                                        description: 'Only applies to the inner dimension of the walls.',
                                        min: -0.2,
                                        max: 0.2,
                                        value: 0,
                                        step: 0.02})">
                                        </div>
                                        <div :class="vals.Type=='technic' ? 'opacity-100' : 'opacity-25'" v-scope="sliderInput({
                                        name: 'techHoleRadOffset',
                                        label: 'Tech Hole Offset',
                                        description: 'Offset for the radius of the holes in the technic brick.',
                                        min: -0.2,
                                        max: 0.2,
                                        value: 0,
                                        step: 0.01})">
                                        </div>
                                        <div :class="vals.Type=='arm' ? 'opacity-100' : 'opacity-25'" v-scope="sliderInput({
                                        name: 'armHoleRadOffset',
                                        label: 'Arm Hole Offset',
                                        description: 'Offset for the radius of the holes in the arm.',
                                        min: -0.2,
                                        max: 0.2,
                                        value: 0,
                                        step: 0.01})">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                            <div class="card-footer">
                            card footer
                        </div>
                    -->
                    </div>
                </div>
                <div class="col-12 col-lg-1 d-flex justify-content-center align-items-center py-2 ">
                    <button v-cloak @click="mainBtnClick" type="button" class="btn btn-primary fs-5"
                        :disabled="buttonState.disabled">
                        <i :class="buttonState.icon"></i>
                        {{ buttonState.text }}
                    </button>
                </div>
                <div id="stlContainer" class="col-12 col-lg-5 p-0 min-vh-50">
                    <div id="stlViewer"></div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container d-flex justify-content-around">
            <span class="text-muted">© fweynschenk </span> <a
                href="https://github.com/FWeynschenk/ppBricks/issues">contact/feedback</a>
        </div>
    </footer>

    <script type="module" src="scripts/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>

<template id="select-template">
    <div class="form-floating">
        <select v-on:change="setVal" class="form-select my-1" :id="name+'-id'" v-model="value">
            <option v-for="option in options" :value="option.value">
                {{option.label}}
            </option>
        </select>
        <label :for="name+'-id'">{{ label }}</label>
    </div>
</template>

<template id="slider-template">
    <div class="border border-1 rounded-1 px-2 my-1">
        <div class="d-flex justify-content-between">

            <label :for="name+'id'" class="form-label d-inline">{{ label }}: {{ value }}</label>
            <div class="d-inline bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right"
                :title="description"></div>
        </div>
        <input v-on:change="setVal" type="range" class="form-range" v-model="value" :min="min" :max="max" :step="step"
            :id="name+'id'">
    </div>
</template>